ul{
	list-style: none;
}

li{
	display: inline;
}

span {
	display: block;
	border: 1px solid black;
	margin: 25px;
}

article.n-child section:nth-child(even){
 	border: 1px solid black;
 	background-color: blue;
}